<!-- booking-form.component.html -->
<div class="form-container">
  <mat-horizontal-stepper #stepper [linear]="true" class="mat-elevation-z4">
    <mat-step label="Booking Service" state="booking">
      <form
        [formGroup]="bookingForm"
        (ngSubmit)="onSubmit()"
        class="form-content"
      >
        <div class="form-fields-container">
          <div class="form-field">
            <mat-form-field appearance="outline">
              <mat-label>Location</mat-label>
              <input
                matInput
                formControlName="location"
                placeholder="Enter your location"
                required
              />
              <mat-error
                *ngIf="bookingForm.get('location')?.hasError('required')"
              >
                Location is required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-field">
            <mat-form-field appearance="outline">
              <mat-label>Time</mat-label>
              <input
                matInput
                type="time"
                formControlName="time"
                placeholder="Select time"
                required
              />
              <mat-error *ngIf="bookingForm.get('time')?.hasError('required')">
                Time is required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-field">
            <mat-form-field appearance="outline">
              <mat-label>Date</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="date"
                placeholder="Select date"
                required
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="bookingForm.get('date')?.hasError('required')">
                Date is required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-field">
            <mat-form-field appearance="outline">
              <mat-label>Service Required</mat-label>
              <input
                matInput
                formControlName="serviceRequired"
                placeholder="Enter service needed"
                required
              />
              <mat-error
                *ngIf="bookingForm.get('serviceRequired')?.hasError('required')"
              >
                Service required is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="button-container">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!bookingForm.valid"
          >
            Submit Booking
          </button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>
